*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Poppins, sans-serif;
}

body{
  background:#020617;
  color:white;
}

header{
  position:fixed;
  top:0;
  width:100%;
  padding:15px 8%;
  display:flex;
  justify-content:space-between;
  background:black;
  z-index:1000;
}

nav a{
  color:white;
  margin-left:25px;
  text-decoration:none;
}

nav a:hover{
  color:#a78bfa;
}

.hero{
  min-height:100vh;
  padding:120px 8%;
}

.hero span{
  color:#a78bfa;
}

.btn{
  display:inline-block;
  margin-top:25px;
  padding:10px 30px;
  background:#a78bfa;
  color:black;
  border-radius:25px;
}

#about{
  background:linear-gradient(#3b8d8d,#6dd5c6);
  padding:80px;
}

.card{
  background:#0f3d3e;
  padding:40px;
  border-radius:20px;
}

#education,#projects,#contact{
  padding:80px 8%;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.box,.project{
  background:black;
  height:200px;
  border-radius:15px;
  transition:0.3s;
}

.box:hover,
.project:hover{
  box-shadow:0 0 20px #a78bfa;
  transform:scale(1.05);
}

form{
  width:400px;
  margin:auto;
  background:#6b21a8;
  padding:30px;
  border-radius:20px;
}

input,textarea{
  width:100%;
  margin-bottom:15px;
  padding:12px;
  border-radius:8px;
  border:none;
}

button{
  width:100%;
  padding:12px;
  background:#2563eb;
  color:white;
  border:none;
  border-radius:10px;
}

.social i{
  font-size:25px;
  margin:15px;
  cursor:pointer;
}

.social i:hover{
  color:#a78bfa;
}